<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travolo - Travel Agency & Tour Booking HTML Template - Home One</title>
    <meta name="author" content="vecuro">
    <meta name="description" content="Travolo -  Travel Agency & Tour Booking HTML Template">
    <meta name="keywords" content="Travolo -  Travel Agency & Tour Booking HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" href="/download version/assets/img/favicons/favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
        Google Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!--==============================
          All CSS File
      ============================== -->
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <link rel="stylesheet" href="/download version/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/download version/assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/download version/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/download version/assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/download version/assets/css/style.css">
</head>
<body>
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="/download version/assets/img/logo.svg" alt="Travolo"></a>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html">Ana Sayfa</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-2.html">Home Two</a></li>
                            <li><a href="index-3.html">Home Three</a></li>
                            <li><a href="index-4.html">Home Four</a></li>
                            <li><a href="index-5.html">Home Five</a></li>
                            <li><a href="index-6.html">Home Six</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Duraklar</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Hakkımızda</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="tours.html">Tours List</a></li>
                            <li><a href="tour-booking.html">Tour Booking</a></li>
                            <li><a href="destinations.html">Destinations</a></li>
                            <li><a href="destination-details.html">Destinations Details</a></li>
                            <li><a href="error.html">Error</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Turlar</a>
                        <ul class="sub-menu">
                            <li><a href="tours.html">Tours List</a></li>
                            <li><a href="tour-booking.html">Tour Booking</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Alışveriş</a>
                        <ul class="sub-menu">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-details.html">Shop Details</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog List</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--==============================
        Popup Search Box
      ============================== -->
    <div class="popup-search-box d-none d-lg-block  ">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" class="border-theme" placeholder="Ara">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>

    <!--==============================
        Header Area
      ==============================-->
    <header class="vs-header header-layout1">
        <div class="container">
            <div class="header-top">
                <div class="row justify-content-between align-items-center">
                    <div class="col d-none d-lg-block">
                        <ul class="header-contact">
                            <li>
                                <i class="fas fa-envelope"></i> <a href="mailto:info@travolo.com">padme@gmail.com</a>
                            </li>
                            <li><i class="fas fa-phone-alt"></i> <a href="tel:+905073635263">+90 507 363 5263</a></li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <div class="header-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-auto d-flex ">
                        <div class="header-dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown"
                               aria-expanded="false">Türkçe</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                <li>
                                    <a href="#">German</a>
                                    <a href="#">French</a>
                                    <a href="#">Italian</a>
                                    <a href="#">Latvian</a>
                                    <a href="#">Spanish</a>
                                    <a href="#">Greek</a>
                                </li>
                            </ul>
                        </div>
                        <a class="user-btn" href="sign-up.html"><i class="far fa-user-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="sticky-active">
                <div class="container position-relative z-index-common">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="vs-logo">
                                <a href="index.html"><img src="/download version/assets/img/logo.svg" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col text-end text-xl-center">
                            <nav class="main-menu  menu-style1 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a href="/HomePage/Index">Ana Sayfa</a>
                                    </li>
                                    <li>
                                        <a href="#">Duraklar</a>
                                    </li>
                                    <li>
                                        <a href="#">Hakkımızda</a>
                                    </li>
                                    <li>
                                        <a href="#">Turlar</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Alışveriş</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">Alışveriş</a></li>
                                            <li><a href="shop-details.html">Alışveriş Detayı</a></li>
                                            <li><a href="cart.html">Sepetim</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">İletişim</a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-btns">
                                <button class="searchBoxTggler"><i class="fal fa-search"></i></button>
                                <button class="sideCartToggler">
                                    <i class="fal fa-shopping-bag"></i><span class="button-badge">2</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="display: flex; justify-content:center; align-items:center; height:100%; width: 100%; margin 0; padding 0;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--==============================
        Footer Area
    ==============================-->
    <footer class="footer-wrapper footer-layout1" data-bg-src="/download version/assets/img/bg/footer-bg.jpg">
        <div class="footer-top">
            <div class="shadow-color"></div>
            <div class="container">
                <div class="cta-style1">
                    <div class="row g-5 align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="cta-content">
                                <h2 class="cta-title">Başlamaya hazır mısın?</h2>
                                <p class="cta-text">ÜCRETSİZ Padme hesabınızı oluşturmak yalnızca birkaç dakikanızı alır.</p>
                                <a href="sign-up.html" class="vs-btn style2">Kayıt Olun</a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="cta-image d-lg-block d-none">
                                <img src="/download version/assets/img/newsletter.png" alt="CTA Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-area">
            <div class="container">
                <div class="row g-5 justify-content-between">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="vs-widget-about">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="/download version/assets/img/white-logo.svg" alt="Travolo" class="logo" /></a>
                                </div>
                                <p class="footer-text">
                                    Padme ile hayalinizdeki tatil ayağınıza geldi!
                                </p>
                                <div class="social-style1">
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-2">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Kısayol Linkleri</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="index.html"><i class="far fa-angle-right"></i> Anasayfa</a></li>
                                    <li><a href="destinations.html"><i class="far fa-angle-right"></i> Duraklar</a></li>
                                    <li><a href="tours.html"><i class="far fa-angle-right"></i> Turlar</a></li>
                                    <li><a href="shop.html"><i class="far fa-angle-right"></i> Alışveriş</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <h4 class="widget_title">Bizi Instagram'da takip edin.</h4>
                            <div class="sidebar-gallery">
                                <a href="/download version/assets/img/footer/insta1.jpg" class="popup-image">
                                    <img src="/download version/assets/img/footer/insta1.jpg"
                                         alt="Gallery Image" class="w-100" />
                                </a>
                                <a href="/download version/assets/img/footer/insta2.jpg" class="popup-image">
                                    <img src="/download version/assets/img/footer/insta2.jpg"
                                         alt="Gallery Image" class="w-100" />
                                </a>
                                <a href="/download version/assets/img/footer/insta3.jpg" class="popup-image">
                                    <img src="/download version/assets/img/footer/insta3.jpg"
                                         alt="Gallery Image" class="w-100" />
                                </a>
                                <a href="/download version/assets/img/footer/insta4.jpg" class="popup-image">
                                    <img src="/download version/assets/img/footer/insta4.jpg"
                                         alt="Gallery Image" class="w-100" />
                                </a>
                                <a href="/download version/assets/img/footer/insta5.jpg" class="popup-image">
                                    <img src="/download version/assets/img/footer/insta5.jpg"
                                         alt="Gallery Image" class="w-100" />
                                </a>
                                <a href="/download version/assets/img/footer/insta6.jpg" class="popup-image">
                                    <img src="/download version/assets/img/footer/insta6.jpg"
                                         alt="Gallery Image" class="w-100" />
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-auto">
                        <p class="copyright-text">
                            Copyright <i class="fal fa-copyright"></i>
                            <script>document.write(new Date().getFullYear())</script> <a href="index.html">Travolo</a>.
                            All Rights Reserved By <a href="https://themeforest.net/user/vecuro">Vecuro</a>
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="copyright-menu">
                            <ul class="list-unstyled">
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
